QWidget {
    background-color: #f0f0f0;
    color: #2c2c2c;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

QPushButton {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
}

QPushButton:hover {
    background-color: #d5d5d5;
}

QPushButton:pressed {
    background-color: #c5c5c5;
}

QLineEdit,
QComboBox {
    background-color: #ffffff;
    border: 1px solid #bbb;
    padding: 4px;
    border-radius: 3px;
}

/* QScrollBar:vertical,
QScrollBar:horizontal {
    background-color: #e0e0e0;
} */

#pushButton_settings,
#pushButton_themeToggle {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
}
#groupBox_pages,
#groupBox_settingsAndTheme,
#groupBox_calibration_options,
#groupBox_calibrationSteps_1_3_main,
#groupBox_calibrationStartFromPreparing,
#groupBox_calibrationSteps_4,
#groupBox_calibrationImagesDirectoryField,
#groupBox_calibrationImagesDirectoryFieldSecondCamera,
#groupBox_calibrationMethodChoiceField,
#groupBox_calibrationSteps_5_doneMain,
#groupBox_calibrationSteps_5_doneContinueOptions,
#groupBox_processingProjectOptions,
#groupBox_newProjectCreatingMain,
#groupBox_newProjectCreatingPath,
#groupBox_newProjectCreatingSubmitField,
#groupBox_processingProcessMain,
#groupBox_processPathSetter_Field,
#groupBox_exportOptions,
#groupBox_settingsMain {
    border-top: none;
    margin-top: 10px;
    padding-top: 20px;
}
